@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #f00;
  background: #000;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #f00 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: #000;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .logo span {
  color: #f00;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #f00;
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  margin-top: 5rem;
}

.home .slide {
  min-height: 70vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .slide .content {
  width: 60rem;
}

.home .slide .content span {
  font-size: 2rem;
  color: #f00;
  display: block;
}

.home .slide .content h3 {
  font-size: 5rem;
  color: #fff;
  padding: 1rem 0;
}

.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f00;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  position: relative;
}

.about .image::before, .about .image::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #f00;
  height: 15rem;
  width: 15rem;
}

.about .image::before {
  top: 0;
  left: 0;
}

.about .image::after {
  bottom: 0;
  right: 0;
}

.about .image img {
  width: 100%;
  padding: 2rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content span {
  font-size: 2rem;
  color: #f00;
}

.about .content .title {
  font-size: 4rem;
  color: #fff;
  margin-top: .5rem;
}

.about .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.about .content .box-container .box {
  
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.about .content .box-container .box h3 i {
  padding-right: 1.5rem;
  color: #f00;
}












.pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  background-image: url('diet.jpeg');
  background-size: cover;
  background-position: center;
 
}

.pricing .information span {
  font-size: 2rem;
  color: #f00;
  
}

.pricing .information h3 {
  font-size: 4rem;
  padding-top: .5rem;
  color: #fff;
}

.pricing .information p {
  line-height: 2;
  padding: 1rem 0;
  font-size: large;
  color: #aaa;
  font-family: Arial, Helvetica, sans-serif;
}

.pricing .information p i {
  padding-right: 1rem;
  color: #f00;
}

.pricing .plan {
  text-align: center;
  padding: 2rem;
}
.pricing .plan span{
    font-size: 2rem;
    color: #f00;

}
.pricing .plan.basic {
  background: linear-gradient(130deg, #111 93%, transparent 90%);
}

.pricing .plan h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #fff;
}
.pricing .plan p{
    line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}
.pricing .plan1 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan1 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan1.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan1 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan1 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }

  .pricing .plan3 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan3 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan3.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan3 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan3 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }

  .pricing .plan4 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan4 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan4.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan4 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan4 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan5 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan5 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan5.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan5 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan5 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan7 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan7 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan7.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan7 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan7 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan8 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan8 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan8.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan8 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan8 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan9 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan9 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan9.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan9 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan9 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan10 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan10 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan10.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan10 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan10 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan11 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan11 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan11.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan11 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan11 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }
  .pricing .plan12 {
    text-align: center;
    padding: 2rem;
  }
  .pricing .plan12 span{
      font-size: 2rem;
      color: #f00;
  
  }
  .pricing .plan12.basic {
    background: linear-gradient(130deg, #111 93%, transparent 90%);
  }
  
  .pricing .plan12 h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #fff;
  }
  .pricing .plan12 p{
      line-height: 2;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
  }









.pricing .plan .price {
  font-size: 5rem;
  font-weight: bolder;
  color: #f00;
}

.pricing .plan .price span {
  color: #fff;
  font-size: 2rem;
}

.pricing .plan .list {
  padding: 1rem 0;
}

.pricing .plan .list p {
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}

.pricing .plan .list p i {
  padding-right: 1rem;
  color: #f00;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  }
  
  #BMICalculator body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f00;
 
 
  }

/*.container {
  min-width: 250px;
  justify-content: center;
} 
*/
.box2 {
  position: relative;
  justify-items: center;
  width: 500px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;

}


h1 {
  color: rgb(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 36px;
  padding: 30px 0;
  
}


  
  .content {
      padding: 0 30px;
      
  }
  
  .input {
      background: #ffffff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 20px 0;
      margin-bottom: 20px;
  }

  
  .input label {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 20px;
  }
  .input input {
      outline: none;
      border: none;
      border-bottom: 1px solid #4f7df9;
      width: 50%;
      text-align: center;
      font-size: 28px;
      font-family: "Nunito", sans-serif;
  }


  
  .inputW {
      background: #fff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 10px 0;
      margin-bottom: 20px;
      
  }


  .inputW label {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 20px;
      
  }
 .inputW input {
      outline: none;
      border: none;
      border-bottom: 1px solid #4f7df9;
      width: 50%;
      text-align: center;
      font-size: medium;
      
      font-family: "Nunito", sans-serif;
      color: #000;
  }

  .inputH {
      background: #fff;
      box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      padding: 10px 0;
      margin-bottom: 20px;
      margin-right: 20px;
  }


  .inputH label {
      display: block;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 20px;
  }
 .inputH input {
      outline: none;
      border: none;
      border-bottom: 1px solid #4f7df9;
      width: 50%;
      text-align: center;
      font-size: medium;
      font-family: "Nunito", sans-serif;
  }


button.calculate {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: #fff;
  background: rgb(97,138,254,1);
  font-size: 16px;
  border-radius: 7px;
  padding: 12px 0;
  width: 100%;
  outline: none;
  border: none;
  transition: all 0.5s;
}
button.calculate:hover {
  background: #0044ff;
}



.result3 {
  padding: 10px 20px;
}
.result3 p {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}
.result3 #result3 {
  font-size: 36px;
  font-weight: 900;
  color: #4f7df9;
  background-color: #eaeaea;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
}
#comment {
  color: #4f7df9;
  font-weight: 800;
}

.comment {
  display: none;
  border: dashed 1px;
  border-radius: 7px;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 15px
}

.footer-text {
  text-decoration: none;
  color: rgba(40, 40, 40, 0.8);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 14px;
  transition: all 0.5;
}

.footer-text:hover {
  color: rgba(40, 40, 40, 1);
}

.gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: #fff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* Style for Radio */
.gender .container {
  display: block;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  margin-top: 7px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.gender .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.gender .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.gender .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* END Style for Radio */

.containerHW {
  display: block;
  justify-content: space-around;
  align-items: center;
}





/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 300px;

}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 600px;
border-radius: 10px;
box-shadow: #393c76 -1px 2px 2px 1px;
}

#modalText {
padding-top: 8px;
padding-right: 5px;
font-size: 18px;
font-family: 'Poppins', sans-serif;
color: rgb(24, 23, 23);
}

.modal-wrong {
border: 2px solid red;
}

.modal-correct {
border: 2px solid green;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s;
}

.close:hover {
color: #d41111; 
}





.linkDownload {
  position: fixed;
  background-color: #d12322;
  margin: 20px;
  padding: 10px 10px;
  left: -0px;
  border-radius: 5px;
  bottom: -0px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.43s ease-in-out;


}


.linkDownload i {
  padding-left: 7px;
}

.linkDownload:hover {
  text-decoration: none;
  background-color: black;
}


@media (max-width: 700px){


  .box {
      width: 380px;
  }



  
  .input label {

      font-size: 18px;
  }

  .inputH label, .inputW label {
      font-size: 14px;
  }


  .input input, .inputH input, .inputW input{
      font-size: small;
  }


  .modal-content {

    width: 380px;
  }



}






#calorie body {
  font-family: Arial, sans-serif;
  background-color:white;
  margin: 0;
  padding: 20px;
}

.calorie .h1 {
  text-align: center;
  background-color: #111;
  color: #000;

}

.calculator {
  max-width: 500px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  
}
.calculator-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.calculator-row label{
    flex: 1;
    margin-right: 10px;
}
.calculator-row input{
    flex: 1;
    padding: 5px;
}


label {
  display: block;
  margin-bottom: 10px;
  
}

input[type="number"] {
  width: 20%;
  height: 30%;
  padding: 12px 20px;
  border: 1px solid #F00;
  border-radius: 5px;
  position: relative;
  display: inline-block;
 
}

.calorie .result1 {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Poppins' sans-serif;
  font-size: medium;
}
button{
width: 60%;
height: 40px;
margin: 10px auto;
justify-content: center;
display: block;
color: #FFFFFF ;
background:  linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
font-size: 1em;
font-weight: bold;
margin-top: 20px;
outline: none;
border: none;
border-radius: 5px;
transition: .2% ease-in;
cursor: pointer;
}
button:hover{
background: #393f4d;; 
}

@media screen and (max-width: 600px) {
  .calculator {
    padding: 10px;
  }

  input[type="number"] {
    padding: 34px;
    
  }

  .result {
    padding: 40px;
  }
}





















.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.review .information {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.review .information span {
  font-size: 2rem;
  color: #f00;
}

.review .information h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 1rem;
}

.review .information p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.review .review-slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

.review .review-slider .slide {
  background: linear-gradient(130deg, #111 93%, transparent 90%);
  padding: 2rem 3rem;
}

.review .review-slider .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.review .review-slider .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.review .review-slider .slide .user img {
  height: 5rem;
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.review .review-slider .slide .user h3 {
  font-size: 2rem;
  color: #fff;
}

.review .review-slider .slide .user span {
  color: #f00;
  font-size: 1.5rem;
}

.review .review-slider .slide .user i {
  font-size: 5rem;
  margin-left: auto;
  margin-right: 2rem;
  color: #f00;
}

.blogs .slide {
  background: #111;
  margin-bottom: 7rem;
}

.blogs .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .slide .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .slide .content {
  padding: 2rem;
}

.blogs .slide .content .link {
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blogs .slide .content .link a {
  color: #f00;
}

.blogs .slide .content .link a:hover {
  color: #fff;
}

.blogs .slide .content .link span {
  color: #fff;
  padding: 0 1rem;
}

.blogs .slide .content h3 {
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}

.blogs .slide .content p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
  padding: 1rem 0;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box .links:hover {
  color: #f00;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #f00;
}

.footer .box-container .box .share {
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #f00;
}

.footer .box-container .box form .email {
  margin-bottom: 1rem;
  width: 100%;
  background: #111;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.credit {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
  background: #111;
  line-height: 1.5;
}

.credit span {
  color: #f00;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide {
    padding: 2rem 5%;
  }
  .home .slide .content {
    width: 50rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }
  .about {
    gap: 3rem;
  }
  .about .image {
    margin-top: 5rem;
  }
  .about .content .title {
    font-size: 3rem;
  }
  .features .box-container .box.second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */
